
<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <!-- Add your sidenav content here -->
        <mat-nav-list>
            <a mat-list-item routerLink="/my-account" *ngIf="role=='customer' || role=='collector'" (click)="toggleSidenav()">My Account</a>
            <a mat-list-item  routerLink="/menu-list" *ngIf="role=='customer' || role=='collector'" (click)="toggleSidenav()">Menu</a>
            <a mat-list-item routerLink="/order-list" *ngIf="role=='customer' || role=='collector'" (click)="toggleSidenav()">Orders</a>
            <a mat-list-item routerLink="/cart" *ngIf="role=='customer' || role=='collector'" (click)="toggleSidenav()">Cart</a>

            <a mat-list-item routerLink="/my-collections" *ngIf="role=='collector'" (click)="toggleSidenav()">Collections</a>


            <a mat-list-item routerLink="/login" (click)="logout()">Logout</a>
            <!-- Add more links as needed -->
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content >

        <!-- Your main content goes here -->
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="toggleSidenav()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Ordering Management System</span>
        </mat-toolbar>
                
        <div class="center-container" style="margin: 1rem auto; max-width:90vw;">
            <div class="center-title">
                <h1>Cart</h1>
            </div>

            <div class="mat-elevation-z8">

                <table mat-table [dataSource]="filteredCartItems" class="mat-elevation-z8">

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Menu Name</th>
                        <td mat-cell *matCellDef="let cartItem">{{ cartItem.menu.name }}</td>
                    </ng-container>

                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef>Price</th>
                        <td mat-cell *matCellDef="let cartItem">{{ cartItem.menu.price }}</td>
                    </ng-container>

                    <ng-container matColumnDef="quantity">
                        <th mat-header-cell *matHeaderCellDef>Quantity</th>
                        <td mat-cell *matCellDef="let cartItem">
                            <input placeholder="0" type="number" min="1" [(ngModel)]="cartItem.quantity" />
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="subtotal">
                        <th mat-header-cell *matHeaderCellDef>Subtotal</th>
                        <td mat-cell *matCellDef="let cartItem">{{ cartItem.total_price | currency: 'PHP':'symbol':'4.2-2' }}</td>
                    </ng-container>

                    <!-- Add more columns as needed -->

                    <!-- Column for actions (if needed) -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Actions</th>
                        <td mat-cell *matCellDef="let cartItem">
                            
                            <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon" style="margin: .5rem;" (click)="askIfUpdate(cartItem)">
                                <mat-icon>save</mat-icon>
                            </button>

                            <button mat-mini-fab color="warn" aria-label="Example icon button with a delete icon" style="margin: .5rem;" (click)="askIfDelete(cartItem)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>

            <h3>Total: <strong >{{this.getTotal(this.cartItems, 'total_price') | currency: 'PHP':'symbol':'4.2-2'}}</strong> </h3>
            <button mat-raised-button color="primary" style="margin: 1rem;" routerLink="/checkout">Checkout</button>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>

