<div class="center-container" style="margin: 1rem auto; max-width:90vw;">
    
    <form [formGroup]="menuDetailsForm" (ngSubmit)="onSubmit()">

        <div class="center-title" style="margin-bottom: 2rem;">
            <h1>Menu Details Form</h1>
        </div>

        <div class="form-group">
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput type="text" placeholder="Enter menu name">
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field appearance="fill">
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="Enter description"></textarea>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field appearance="fill">
                <mat-label>Price</mat-label>
                <input matInput type="number" placeholder="Enter price">
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field appearance="fill">
                <mat-label>Stock</mat-label>
                <input matInput type="text" placeholder="Enter stock">
            </mat-form-field>
        </div>

        <button mat-raised-button color="primary" style="margin: 0.5rem;" type="submit">Save</button>
        <button mat-raised-button style="margin: 0.5rem;" type="submit" routerLink="/admin-menu-list">Back</button>
    </form>

</div>