<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <!-- Add your sidenav content here -->
        <mat-nav-list>
            <a mat-list-item routerLink="/accounts" *ngIf="role=='admin'" (click)="toggleSidenav()">Accounts</a>
            <a mat-list-item  routerLink="/admin-menu-list" *ngIf="role=='admin'" (click)="toggleSidenav()">Menu</a>
            <a mat-list-item routerLink="/admin-order-list" *ngIf="role=='admin'" (click)="toggleSidenav()">Orders</a>
            <a mat-list-item routerLink="/admin-collections" *ngIf="role=='admin'" (click)="toggleSidenav()">Collections</a>

            <a mat-list-item routerLink="/my-account" *ngIf="role=='customer' || role=='collector'" (click)="toggleSidenav()">My Account</a>
            <a mat-list-item  routerLink="/menu-list" *ngIf="role=='customer' || role=='collector'" (click)="toggleSidenav()">Menu</a>
            <a mat-list-item routerLink="/order-list" *ngIf="role=='customer' || role=='collector'" (click)="toggleSidenav()">Orders</a>
            <a mat-list-item routerLink="/cart" *ngIf="role=='customer' || role=='collector'" (click)="toggleSidenav()">Cart</a>

            <a mat-list-item routerLink="/my-collections" *ngIf="role=='collector'" (click)="toggleSidenav()">Collections</a>

            <a mat-list-item routerLink="/login" (click)="logout()">Logout</a>
            <!-- Add more links as needed -->
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content >

        <!-- Your main content goes here -->
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="toggleSidenav()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Ordering Management System</span>
        </mat-toolbar>

        <div class="center-container" style="margin: 1rem auto; max-width:90vw;">
            
            <form [formGroup]="accountDetailsForm" (ngSubmit)="onSubmit()">

                <div class="center-title" style="margin-bottom: 2rem;">
                    <h1>Account Details Form</h1>
                </div>

                <div class="form-group" *ngIf="role=='admin'">
                    <mat-form-field appearance="fill">
                        <mat-label>Role:</mat-label>
                        <select matNativeControl required formControlName="role" >
                            <option value="admin">Admin</option>
                            <option value="customer">Customer</option>
                            <option value="collector">Customer/Colletor</option>
                        </select>
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="fill">
                        <mat-label>Username</mat-label>
                        <input matInput type="text" placeholder="Enter your username" value="{{account.username}}" formControlName="username">
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="fill">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" placeholder="Enter your password" formControlName="password">
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="fill">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput type="password" placeholder="Confirm your password" formControlName="confirm_password">
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="fill">
                        <mat-label>First Name</mat-label>
                        <input matInput type="text" placeholder="Enter your first name" value="{{account.first_name}}" formControlName="first_name" [readonly]="role!='admin'">
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="fill">
                        <mat-label>Middle Name</mat-label>
                        <input matInput type="text" placeholder="Enter your middle name" value="{{account.middle_name}}" formControlName="middle_name" [readonly]="role!='admin'">
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="fill">
                        <mat-label>Last Name</mat-label>
                        <input matInput type="text" placeholder="Enter your last name" value="{{account.last_name}}" formControlName="last_name" [readonly]="role!='admin'">
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="fill">
                        <mat-label>Learner's ID</mat-label>
                        <input matInput type="text" placeholder="Enter your learner's id" value="{{account.laerner_s_id}}" formControlName="learner_s_id" [readonly]="role!='admin'">
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="fill">
                        <mat-label>Contact Number</mat-label>
                        <input matInput type="text" placeholder="Enter your contact number" value="{{account.contact_number}}" formControlName="contact_number" [readonly]="role!='admin'">
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="fill">
                        <mat-label>Grade Level</mat-label>
                        <select matNativeControl required  value="{{account.grade_level}}" formControlName="grade_level" [readonly]="role!='admin'">
                            <option value="7">Grade 7</option>
                            <option value="8">Grade 8</option>
                            <option value="9">Grade 9</option>
                            <option value="10">Grade 10</option>
                            <option value="11">Grade 11</option>
                            <option value="12">Grade 12</option>
                        </select>
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="fill">
                        <mat-label>Section</mat-label>
                        <input matInput type="text" placeholder="Enter your section" value="{{account.section}}" formControlName="section" [readonly]="role!='admin'">
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="fill">
                        <mat-label>School Year</mat-label>
                        <input matInput type="text" placeholder="Enter your sy" formControlName="school_year" [readonly]="role!='admin'">
                    </mat-form-field>
                </div>

                <button mat-raised-button color="primary" style="margin: 0.5rem;" type="submit">Save</button>
                <button mat-raised-button style="margin: 0.5rem;" type="submit" *ngIf="role=='admin'" routerLink="/accounts">Back</button>
            </form>

        </div>

    </mat-sidenav-content>
</mat-sidenav-container>