<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <!-- Add your sidenav content here -->
        <mat-nav-list>
            <a mat-list-item routerLink="/my-account" *ngIf="role=='customer' || role=='collector'" (click)="toggleSidenav()">My Account</a>
            <a mat-list-item  routerLink="/menu-list" *ngIf="role=='customer' || role=='collector'" (click)="toggleSidenav()">Menu</a>
            <a mat-list-item routerLink="/order-list" *ngIf="role=='customer' || role=='collector'" (click)="toggleSidenav()">Orders</a>
            <a mat-list-item routerLink="/cart" *ngIf="role=='customer' || role=='collector'" (click)="toggleSidenav()">Cart</a>

            <a mat-list-item routerLink="/my-collections" *ngIf="role=='collector'" (click)="toggleSidenav()">Collections</a>


            <a mat-list-item routerLink="/login" (click)="logout()">Logout</a>
            <!-- Add more links as needed -->
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content >

        <!-- Your main content goes here -->
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="toggleSidenav()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Ordering Management System</span>
        </mat-toolbar>

        <div class="center-container">
            <mat-card style="width: 60vw;margin: auto;margin-top: 3rem;">
                <mat-card-header>
                <mat-card-title>Order Details</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <br>
                <div>
                    <p><strong>Order ID:</strong> {{ collectionItem?collectionItem.order.id:"" }}</p>
                    <p><strong>Order Date:</strong> {{ collectionItem?collectionItem.order.date_ordered:"" }}</p>
                    <p><strong>Status:</strong> {{ collectionItem?collectionItem.status:"" }}</p>
                    <p><strong>Customer Details</strong> </p>
                    <p><strong>Full Name:</strong> {{collectionItem?collectionItem.order.user.first_name+" " + collectionItem.order.user.last_name:""}}</p>
                    <p><strong>Learner's ID:</strong> {{ collectionItem?collectionItem.order.user.learner_s_id:"" }}</p>
                    <p><strong>School Year:</strong> {{ collectionItem?collectionItem.order.user.school_year:"" }}</p>
                    <p><strong>Grade Level:</strong> {{ collectionItem?collectionItem.order.user.grade_level:"" }}</p>
                    <p><strong>Section:</strong> {{ collectionItem?collectionItem.order.user.section:"" }}</p>
                    <p><strong>Other Order Details</strong> </p>
                    <p><strong>Payment Method:</strong> {{ collectionItem && collectionItem.order.payments.length > 0?collectionItem.order.payments[0].method:"" }}</p>
                    <p><strong>Payment Date:</strong> {{ collectionItem && collectionItem.order.payments.length > 0?collectionItem.order.payments[0].date_paid:"" }}</p>
                    <p><strong>Payment Reference No.:</strong> {{ collectionItem && collectionItem.order.payments.length > 0?collectionItem.order.payments[0].reference_number:"" }}</p>
                    <p><strong>Claimed Date:</strong> {{ collectionItem?collectionItem.order.date_claimed:"" }}</p>
                    <p><strong>Total Amount:</strong> {{ collectionItem?collectionItem.order.total_price:"" }}</p>
                </div>
                <div>
                    <p><strong>Order Items</strong></p>
                    <div class="mat-elevation-z8" style="">
                        <mat-table [dataSource]="collectionItem?collectionItem.order.order_items:[]" class="mat-elevation-z8">
                
                            <ng-container matColumnDef="name">
                                <mat-header-cell *matHeaderCellDef>Menu Name</mat-header-cell>
                                <mat-cell *matCellDef="let item">{{ item.menu.name }}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="price">
                                <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
                                <mat-cell *matCellDef="let item">{{ item.menu.price }}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="quantity">
                                <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
                                <mat-cell *matCellDef="let item">{{ item.quantity }}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="totalPrice">
                                <mat-header-cell *matHeaderCellDef>Sub total</mat-header-cell>
                                <mat-cell *matCellDef="let item">{{ item.total_price }}</mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                        </mat-table>
                    </div>
                </div>
                <br>
                <div>
                    <div class="form-group">
                        <mat-form-field appearance="fill">
                            <mat-label>Payment Method</mat-label>
                            <select matNativeControl required>
                                <option value="2">Cash via collector</option>
                            </select>
                        </mat-form-field>
                    </div>
                </div>
                <mat-card>
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>My Order's QR</mat-card-title>
                      <mat-card-subtitle>To be scanned by the collector.</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://via.placeholder.com/350x150" alt="Placeholder image" style="max-width: 20rem; max-height: 20rem;">
                    <mat-card-content>
                    </mat-card-content>
                  </mat-card>

                </mat-card-content>
                <mat-card-actions>
                    <button mat-button color="primary" (click)="askIfMarkPaid(collectionItem)">Mark as paid</button>
                    <button mat-button color="primary" (click)="askIfRemoveToCollection(collectionItem)">Remove to collection</button>
                    <button mat-button color="basic" routerLink="/my-collect-orders/{{collection_id}}" >Back to Orders</button>
                </mat-card-actions>
            </mat-card>
        </div>


    </mat-sidenav-content>
</mat-sidenav-container>