<!-- app.component.html -->

<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <input matInput placeholder="Username" formControlName="username">
    </mat-form-field>

    <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password">
    </mat-form-field>

    <mat-form-field>
        <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="First Name" formControlName="firstName">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Middle Name" formControlName="middleName">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Last Name" formControlName="lastName">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Address" formControlName="address">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Learner's ID" formControlName="learnersId">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Contact Number" formControlName="contactNumber">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Grade Level" formControlName="gradeLevel">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Section" formControlName="section">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Register</button>
</form>