<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <!-- Add your sidenav content here -->
        <mat-nav-list>
            <a mat-list-item routerLink="/my-account" *ngIf="role=='customer' || role=='collector'" (click)="toggleSidenav()">My Account</a>
            <a mat-list-item  routerLink="/menu-list" *ngIf="role=='customer' || role=='collector'" (click)="toggleSidenav()">Menu</a>
            <a mat-list-item routerLink="/order-list" *ngIf="role=='customer' || role=='collector'" (click)="toggleSidenav()">Orders</a>
            <a mat-list-item routerLink="/cart" *ngIf="role=='customer' || role=='collector'" (click)="toggleSidenav()">Cart</a>

            <a mat-list-item routerLink="/my-collections" *ngIf="role=='collector'" (click)="toggleSidenav()">Collections</a>

            <a mat-list-item routerLink="/login" (click)="logout()">Logout</a>
            <!-- Add more links as needed -->
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content >

        <!-- Your main content goes here -->
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="toggleSidenav()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Ordering Management System</span>
        </mat-toolbar>

        <div class="center-container">
            <mat-card style="width: 60vw;margin: auto;margin-top: 3rem;">
                <mat-card-header>
                <mat-card-title>Order Details</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <br>
                <div>
                    <p><strong>Customer Details</strong> </p>
                    <p><strong>Full Name:</strong> {{account?(account.first_name + " " + account.last_name):""}} </p>
                    <p><strong>Learner's ID:</strong> {{account?(account.learner_s_id):""}}</p>
                    <p><strong>School Year:</strong> {{account?(account.school_year):""}}</p>
                    <p><strong>Grade Level:</strong> {{account?(account.grade_level):""}}</p>
                    <p><strong>Section:</strong> {{account?(account.section):""}}</p>
                    <p><strong>Total Amount:</strong> {{this.getTotal(this.cartItems, 'total_price') | currency: 'PHP':'symbol':'4.2-2'}}</p>
                </div>
                <div>
                    <p><strong>Order Items</strong></p>
                    <div class="mat-elevation-z8" style="">
                        <mat-table [dataSource]="cartItems" class="mat-elevation-z8">
                
                            <ng-container matColumnDef="name">
                                <mat-header-cell *matHeaderCellDef>Menu Name</mat-header-cell>
                                <mat-cell *matCellDef="let cartItem">{{ cartItem.menu.name }}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="price">
                                <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
                                <mat-cell *matCellDef="let cartItem">{{ cartItem.menu.price  | currency: 'PHP':'symbol':'4.2-2'}}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="quantity">
                                <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
                                <mat-cell *matCellDef="let cartItem">{{ cartItem.quantity }}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="total_price">
                                <mat-header-cell *matHeaderCellDef>Sub total</mat-header-cell>
                                <mat-cell *matCellDef="let cartItem">{{ cartItem.total_price  | currency: 'PHP':'symbol':'4.2-2'}}</mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                        </mat-table>
                    </div>
                </div>
                <br>
                <div>
                    <div class="form-group">
                        <mat-form-field appearance="fill">
                            <mat-label>Payment Method</mat-label>
                            <select matNativeControl required [(ngModel)] = "payment_method">
                                <option value="gcash_ref">GCash - Reference no.</option>
                                <option value="collection">Cash via collector</option>
                            </select>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field appearance="fill">
                            <mat-label>GCash reference number:</mat-label>
                            <input matInput type="text" placeholder="Enter your gcash reference no." [(ngModel)] = "payment_reference">
                        </mat-form-field>
                    </div>
                </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" style="margin: 0.5rem;" (click)="submitOrder()">Submit</button>
                    <button mat-button color="basic" routerLink="/cart" >Back to Cart</button>
                </mat-card-actions>
            </mat-card>
        </div>


    </mat-sidenav-content>
</mat-sidenav-container>